{# src/STX/CroissantsBundle/Resources/views/CroissantsAdmin/addfridaysubscriptio.html.twig #}
{% extends "STXCroissantsBundle::layout.html.twig" %}

{% block stxcroissants_head %}
	Ajouter ou mettre à jour manutellement une inscription
{% endblock %}


{% block stxcroissants_body %}
	<form class="form-horizontal" method="post" {{ form_enctype(form) }}>
		<div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.date) }}
            </div>
            <div class="col-lg-8">
                {{ form_widget(form.date) }}
                {{ form_errors(form.date) }}
            </div>
        </div>
            
        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.user) }}
            </div>
            <div class="col-lg-8">
                {{ form_widget(form.user, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.user) }}
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.backup_user) }}
            </div>
            <div class="col-lg-8">
                {{ form_widget(form.backup_user, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.backup_user) }}
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.confirmation_user) }}
            </div>
            <div class="col-lg-8">
                {{ form_widget(form.confirmation_user, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.confirmation_user) }}
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-3 control-label">
                {{ form_label(form.remark) }}
            </div>
            <div class="col-lg-8">
                {{ form_widget(form.remark, { 'attr' : {'class' : 'form-control'} }) }}
                {{ form_errors(form.remark) }}
            </div>
        </div>
		
		{{ form_rest(form) }}
		
		<div class="col-lg-3 col-lg-offset-3 form-actions">
            <input type="submit" class="btn btn-primary" value="Ajouter l'inscription"/>
        </div>
	</form>
{% endblock %}



{% block javascriptend %}

	{{ parent() }}
	
	<script>
		$(document).ready(function() {
			$('.datepicker').datepicker({
					autoclose: true,
					daysOfWeekDisabled: [0,1,2,3,4,6],
					clearBtn: true,
					language: 'fr-CH',
					todayHighlight: true
				});
		});
	</script>
	
{% endblock %}