
</br>

<table class="table table-striped">
	<tr>
		<th>Date</th>
		<th>Principal</th>
		<th>Sauveteur</th>
		<th>Apporté par</th>
		<th>Remarque</th>
	</tr>
	
	{% for subscriber in subscribers %}
	<tr>
		<td>
			{% if subscriber['userSub'] is defined and subscriber['userSub'].remark is defined and subscriber['userSub'].remark starts with 'FERIE -'  %}
				<b><font color="red">{{ subscriber['dateSub']|date('d.m.Y') }}</font></b>
			{% else %}
				{{ subscriber['dateSub']|date('d.m.Y') }}
			{% endif %}
		</td>
		{# Main subscriber #}
		<td>
			{# Si c'est un jour férié, rien à afficher #}
			{% if subscriber['userSub'] is defined and subscriber['userSub'].remark is defined and subscriber['userSub'].remark starts with 'FERIE -'  %}
			
			{# Si c'est l'administrateur, il faut juste afficher l'inscrit si présent #}
			{% elseif is_granted('ROLE_ADMIN') %}
				<div id={{ 'displayMainUserFor_' ~ subscriber['dateSub']|date('dmY') }}>
					{% if ((subscriber['userSub'] is null) or (subscriber['userSub'].user is null)) %}
						<span> </span>
					{% else %}
						<span>{{ subscriber['userSub'].user.username }}</span>
					{% endif %}
				</div>
				
			{# Si c'est un utilisateur #}
			{% else %}
				<div id={{ 'displayMainUserFor_' ~ subscriber['dateSub']|date('dmY') }}>
				
				{# Si la date est dans le passé, alors il faut juste afficher l'inscrit si présent #}
				{% if (subscriber['dateSub']|date('U')) < ( forCompare|date('U')) %}
					{% if ((subscriber['userSub'] is null) or (subscriber['userSub'].user is null)) %}
						<span> </span>
					{% else %}
						<span>{{ subscriber['userSub'].user.username }}</span>
					{% endif %}
				
				{# Si c'est aujourd'hui ou dans le futur #}
				{% else %}
					
					{# S'il n'y a pas d'inscrit en principal #}
					{% if ((subscriber['userSub'] is null) or (subscriber['userSub'].user is null)) %}
						{# S'il n'y a pas d'enregistrements dans la base alors, afficher le bouton d'inscription #}
						{% if subscriber['userSub'] is null %}
							<button id={{ 'subscribe_' ~ subscriber['dateSub']|date('dmY') }} type="button" class="btn btn-xs btn-primary" onclick="subscribeFunction(this,'{{ subscriber['dateSub']|date('dmY') }}','{{ username }}',1)"><i class="glyphicon glyphicon-pencil"></i></button>
						{# S'il y a un enregistrement #}
						{% elseif subscriber['userSub'].user is null %}								
							{% if ((subscriber['userSub'].backupuser is not null) and (subscriber['userSub'].backupuser.username == username)) %}
								
							{% else %}
								<button id={{ 'subscribe_' ~ subscriber['dateSub']|date('dmY') }} type="button" class="btn btn-xs btn-primary" onclick="subscribeFunction(this,'{{ subscriber['dateSub']|date('dmY') }}','{{ username }}',1)"><i class="glyphicon glyphicon-pencil"></i></button>
							{% endif  %}
						{% endif %}
					{% else %}
						<div id="userSpace">
							<span>{{ subscriber['userSub'].user.username }}</span>
							{% if subscriber['userSub'].user.username == username %}
								<button id={{ 'unsubscribe_' ~ subscriber['dateSub']|date('dmY') }} type="button" class="btn btn-xs btn-danger" onclick="unsubscribeFunction(this,'{{ subscriber['dateSub']|date('dmY') }}','{{ username }}',1)"><i class="glyphicon glyphicon-remove"></i></button>
							{% endif %}
						</div>
					{% endif %}
				{% endif %}
				</div>
			{% endif %}
		</td>
		{# Backup subscriber #}
		<td>
			{# Si c'est un jour férié, rien à afficher #}
			{% if subscriber['userSub'] is defined and subscriber['userSub'].remark is defined and subscriber['userSub'].remark starts with 'FERIE -'  %}
			
			{# Si c'est l'administrateur, il faut juste afficher le backup user si présent #}
			{% elseif is_granted('ROLE_ADMIN') %}
				<div id={{ 'displayBackupUserFor_' ~ subscriber['dateSub']|date('dmY') }}>
					{% if ((subscriber['userSub'] is null) or (subscriber['userSub'].backupuser is null)) %}
						<span> </span>
					{% else %}
						<span>{{ subscriber['userSub'].backupuser.username }}</span>
					{% endif %}
				</div>
			
			{# Si c'est un utilisateur #}
			{% else %}
				<div id={{ 'displayBackupUserFor_' ~ subscriber['dateSub']|date('dmY') }}>
				
				{# Si la date est dans le passé, alors il faut juste afficher le backup user si présent #}
				{% if (subscriber['dateSub']|date('U')) < ( forCompare|date('U')) %}
					{% if ((subscriber['userSub'] is null) or (subscriber['userSub'].backupuser is null)) %}
						<span> </span>
					{% else %}
						<span>{{ subscriber['userSub'].backupuser.username }}</span>
					{% endif %}
				
				{# Si c'est aujourd'hui ou dans le futur #}
				{% else %}
					{% if ((subscriber['userSub'] is null) or (subscriber['userSub'].backupuser is null)) %}
						{% if subscriber['userSub'] is null %}
							<button id={{ 'subscribeBackup_' ~ subscriber['dateSub']|date('dmY') }} type="button" class="btn btn-xs btn-primary" onclick="subscribeFunction(this,'{{ subscriber['dateSub']|date('dmY') }}','{{ username }}',0)"><i class="glyphicon glyphicon-pencil"></i></button>
						{% elseif subscriber['userSub'].backupuser is null %}
							{% if ((subscriber['userSub'].user is not null) and (subscriber['userSub'].user.username == username)) %}
								
							{% else %}
								<button id={{ 'subscribeBackup_' ~ subscriber['dateSub']|date('dmY') }} type="button" class="btn btn-xs btn-primary" onclick="subscribeFunction(this,'{{ subscriber['dateSub']|date('dmY') }}','{{ username }}',0)"><i class="glyphicon glyphicon-pencil"></i></button>
							{% endif  %}
						{% endif %}
					{% else %}
						<div id="userSpace">
							<span>{{ subscriber['userSub'].backupuser.username }}</span>
							{% if subscriber['userSub'].backupuser.username == username %}
								<button id={{ 'unsubscribeBackup_' ~ subscriber['dateSub']|date('dmY') }} type="button" class="btn btn-xs btn-danger" onclick="unsubscribeFunction(this,'{{ subscriber['dateSub']|date('dmY') }}','{{ username }}',0)"><i class="glyphicon glyphicon-remove"></i></button>
							{% endif %}
						</div>
					{% endif %}
				{% endif %}
				</div>
			{% endif %}
		</td>
		{# Who really brought croissants #}
		<td>
			{% if subscriber['userSub'] is defined and subscriber['userSub'].remark is defined and subscriber['userSub'].remark starts with 'FERIE -'  %}
				{#<div id={{ 'jourferieConf_' ~ subscriber['dateSub']|date('dmY') }}>
					<span class="fa-stack fa-lg">
  						<i class="fa fa-rebel fa-stack-1x text-danger"></i>
					</span>
				</div>#}
			{% elseif is_granted('ROLE_ADMIN') %}
				{% if (subscriber['dateSub']|date('U')) <= ( forCompare|date('U')) %}
					{# Si la date est antérieure ou égale à ajourd'hui et que le champs est vide, alors l'admin peut rentrer un utilisateur #}
					<select id={{ 'selectConfirmUser_' ~ subscriber['dateSub']|date('dmY') }} class="form-control input-sm" onchange="updateConfirmationUser(this, '{{ subscriber['dateSub']|date('dmY') }}')">
						{% if ((subscriber['userSub'] is null) or (subscriber['userSub'].confirmationuser is null)) %}
							<option value="">Select...</option>
							{% for crusers in croissantsUsers %}
								<option value="{{ crusers['cu_usr'] }}">{{ crusers['cu_usr'] }}</option>
							{% endfor %}
						{% else %}
							{% for crusers in croissantsUsers %}
								{% if (subscriber['userSub'].confirmationuser is null) %}
									<option value="{{ crusers['cu_usr'] }}">{{ crusers['cu_usr'] }}</option>
								{% else %}
									{% if (subscriber['userSub'].confirmationuser.username == crusers['cu_usr']) %}
										<option value="{{ crusers['cu_usr'] }}" selected>{{ crusers['cu_usr'] }}</option>
									{% else %}
										<option value="{{ crusers['cu_usr'] }}">{{ crusers['cu_usr'] }}</option>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				{% else %}
					<span> </span>
				{% endif %}
			{% else %}
				{% if ((subscriber['userSub'] is null) or (subscriber['userSub'].confirmationuser is null)) %}
					{% if (subscriber['dateSub']|date('U')) < ( forCompare|date('U')) %}
						<span><i class="fa fa-frown-o"></i></span>
					{% else %}
						<span> </span>
					{% endif %}
				{% else %}
					<span>{{ subscriber['userSub'].confirmationuser.username }}</span>
				{% endif %}
			{% endif %}
		</td>
		{# Remarks#}
		<td>
			{% if subscriber['userSub'] is defined and subscriber['userSub'].remark is defined and subscriber['userSub'].remark starts with 'FERIE -'  %}
				<div id={{ 'jourferieComm_' ~ subscriber['dateSub']|date('dmY') }}>
					<span>
						<font color="red"><a class="test" href="http://www.google.com/search?q={{ subscriber['userSub'].remark[8:] }}" data-toggle="tooltip" data-placement="top" title="{{ subscriber['userSub'].remark }}">FERIE</a></font>
					</span>
				</div>
			{% elseif is_granted('ROLE_ADMIN') %}
				{% if (subscriber['dateSub']|date('U')) <= ( forCompare|date('U')) %}
					{% if ((subscriber['userSub'] is null) or (subscriber['userSub'].remark is null)) %}
						<textarea id={{ 'remark_' ~ subscriber['dateSub']|date('dmY') }} class="expand" rows="1" cols="10" ></textarea>
					{% else %}
						<textarea id={{ 'remark_' ~ subscriber['dateSub']|date('dmY') }} class="expand" rows="1" cols="10" >{{ subscriber['userSub'].remark }}</textarea>
					{% endif %}				
					<button id={{ 'updateRemark_' ~ subscriber['dateSub']|date('dmY') }} type="button" class="btn btn-xs" onclick="updateRemark('{{ subscriber['dateSub']|date('dmY') }}')"><i class="fa fa-check"></i></button>
				{% else %}
					{% if ((subscriber['userSub'] is null) or (subscriber['userSub'].remark is null)) %}
						<span></span>
					{% else %}
						<span>{{ subscriber['userSub'].remark }}</span>
					{% endif %}
				{% endif %}
			{% else %}
				{% if ((subscriber['userSub'] is null) or (subscriber['userSub'].remark is null)) %}
					<span></span>
				{% else %}
					<span>{{ subscriber['userSub'].remark }}</span>
				{% endif %}
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>