<div class="fos_user_user_show">
	<div >
		<dl class="dl-horizontal">
			<dt>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</dt>
			<dd>{{ user.username }}</dd>
			<dt>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</dt>
			<dd>{{ user.email }}</dd>
			<dt>Nom</dt>
			<dd>{{ user.firstname }}</dd>
			<dt>Prénom</dt>
			<dd>{{ user.Lastname }}</dd>
			<dt>Jours à afficher</dt>
			<dd>{{ user.days }}</dd>
			<dt>Notifications par e-mail</dt>
			<dd>{% if user.alertemail == 0 %}Désactivée{% else %}Activée{% endif %}</dd>
			<dt>Alerte email envoyée</dt>
			<dd>{{ user.alertdays }}</strong> jours avant inscription</dd>
			<dt>Email</dt>
			<dd>{% if user.emailvisible == 0 %}Caché{% else %}Visible{% endif %}</dd>
			<dt>Page d'accueil</dt>
			<dd>{{ user.homepage }}</dd>
		</dl>
	</div>
	{# 
    <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
    <p>Nom : {{ user.firstname }}</p>
    <p>Prénom : {{ user.Lastname }}</p>
    <p>Jours à afficher : {{ user.days }}</p>
    <p>Alerte par email <b>{% if user.alertemail == 0 %}désactivée{% else %}activée{% endif %}</b></p>
    <p>Alerte email envoyée <b>{{ user.alertdays }}</b> jours avant date</p>
    <p>Email est <b>{% if user.emailvisible == 0 %}caché{% else %}visible{% endif %}</b></p>
    <p>La page d'accueil est <b>{{ user.homepage }}</b></p>
    <!-- <a class="btn btn-primary btn-sm" href="{{ path('fos_user_profile_edit') }}">Éditer</a> -->
    #}
</div>
