<div class="fos_user_user_show">
	<div class="row">
		<div class="col-md-3"><strong>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</strong></div>
		<div class="col-md-4">{{ user.username }}</div>
	</div>
	<div class="row">
		<div class="col-md-3"><strong>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</strong></div>
		<div class="col-md-4">{{ user.email }}</div>
	</div>
	<div class="row">
		<div class="col-md-3"><strong>Nom</strong></div>
		<div class="col-md-4">{{ user.firstname }}</div>
	</div>
	<div class="row">
		<div class="col-md-3"><strong>Prénom</strong></div>
		<div class="col-md-4">{{ user.Lastname }}</div>
	</div>
	<div class="row">
		<div class="col-md-3"><strong>Jours à afficher</strong></div>
		<div class="col-md-4">{{ user.days }}</div>
	</div>
	<div class="row">
		<div class="col-md-3"><strong>Notifications par e-mail</strong></div>
		<div class="col-md-4">{% if user.alertemail == 0 %}Désactivée{% else %}Activée{% endif %}</div>
	</div>
	<div class="row">
		<div class="col-md-3"><strong>Alerte email envoyée</strong></div>
		<div class="col-md-4">{{ user.alertdays }}</strong> jours avant inscription</div>
	</div>
	<div class="row">
		<div class="col-md-3"><strong>Email</strong></div>
		<div class="col-md-4">{% if user.emailvisible == 0 %}Caché{% else %}Visible{% endif %}</div>
	</div>
	<div class="row">
		<div class="col-md-3"><strong>Page d'accueil</strong></div>
		<div class="col-md-4">{{ user.homepage }}</div>
	</div>
</div>
