{# src/STX/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "STXUserBundle::layout.html.twig" %}


{% block croissantsMenu %}

{% endblock %}


{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}
    
    <div class="col-lg-10">
    <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
        <div class="form-group">
            <label for="username" class="col-lg-3 control-label">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <div class="col-lg-5">
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-lg-3 control-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <div class="col-lg-5">
                <input class="form-control" type="password" id="password" name="_password" required="required" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-2">
                <input class="btn btn-primary btn-sm" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
             
            <div class="col-lg-1">
            	<a class="btn btn-primary btn-sm" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a></li>
            </div>
            
            <div class="col-lg-offset-2 col-lg-2">
            	<a class="btn btn-primary btn-sm" href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-5">
                <input class="form-control" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            </div>
        </div>
    </form>
    </div>
                  

{% endblock fos_user_content %}
