<form class="form-horizontal" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	<div class="form-group">
		<div class="col-lg-3 control-label">
        	{{ form_label(form.current_password) }}
        </div>
        <div class="col-lg-4">
        	{{ form_widget(form.current_password, { 'attr' : {'class' : 'form-control'} }) }}
            {{ form_errors(form.current_password) }}
        </div>    
	</div>
	
	<div class="form-group">
		<div class="col-lg-3 control-label">
        	{{ form_label(form.new.first) }}
        </div>
        <div class="col-lg-4">
        	{{ form_widget(form.new.first, { 'attr' : {'class' : 'form-control'} }) }}
            {{ form_errors(form.new.first) }}
        </div>    
	</div>
	
	<div class="form-group">
		<div class="col-lg-3 control-label">
        	{{ form_label(form.new.second) }}
        </div>
        <div class="col-lg-4">
        	{{ form_widget(form.new.second, { 'attr' : {'class' : 'form-control'} }) }}
            {{ form_errors(form.new.second) }}
        </div>    
	</div>
	
	{{ form_rest(form) }}
	
    <div>
    	<button class="btn btn-primary" type="submit" value="{{ 'change_password.edit.submit'|trans({}, 'FOSUserBundle') }}" >Valider</button>
    	<a href="{{ path('fos_user_profile_show', {'user': user}) }}"><input type="button" class="btn btn-default" value="Annuler" /></a>
    </div>
</form>
